<!--  section TEAM -->
<div class="content-area">
  <div class="container">
    <div class="row section-header">
      <div class="col-sm-12 col-md-7">
        <h2>Our Small Team</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> sed do eiusmod tempor
          incididunt ut labore. </p>
      </div>
    </div>
    <div class="row">
      <%@teams.each do |team| %>
      <div class="col-sm-6 col-md-3 animated" data-fx="fadeInUp">
        <div class="personBox text-center">


          <div class="person-thumbnail">
            <a href="about-us.html">
              <%= image_tag 'demo-content/02-home-team-01.jpg'%>
            </a>

            <div><a class="overlay-img" href="#"><span class="overlay-ico"><i class="pe-7s-close"></i></span></a></div>
          </div>

          <a href="about-us.html"><h4><%=team.name%>
            <span><%=team.position%></span>
          </h4></a>

          <p> <%=team.description%></p>

          <ul class="socialNormal list-inline">
            <li><a data-original-title="Facebook" href="<%=team.facebook%>" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-facebook"></i></a></li>
            <li><a data-original-title="Twitter" href="<%=team.twitter%>" data-toggle="tooltip" title=""><i
            class="fa fa-fw fa-twitter"></i></a></li>
            <li><a data-original-title="Forrst" href="<%=team.github%>" data-toggle="tooltip" title=""><i
            class="fa-fw icon-forrst"></i></a></li>
          </ul>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
<!-- / section -->

