<!-- header -->
<header class="height">
  <div data-image-mobile="<%= image_url 'bg-plannet-parallax.jpg'%>" data-image="<%= image_url 'bg-plannet-parallax.jpg'%>" data-type="parallax" data-height="670" data-stellar-background-ratio="0" class="media-section">

    <div class="display-table">
      <div class="inner">

        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">
            <li>
              <div class="container">
                <div class="text-center width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO BLOG</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started
                    Now</a>
                </div>
              </div>
            </li>


          </ul>
        </div>

        <a href="#content" class="bigArrow local">
          <span>scroll down for more!</span>
          <i class="pe-7s-bottom-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- / header -->
<!--  section CONTENT -->
<div id="content" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="clearfix withMasonry isotope col-12" id="blog-list">
          <%@articles.each do |article|%>
          <article class="blog-item item-smaller isotope-item">
            <div class="blog-thumbnail">
              <a href="06-post.html"><%= image_tag 'demo-content/05-blog-single-post-image1.jpg'%></a>
              <a href="06-post.html" class="overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
            </div>
            <div class="innerMargin">
              <h4 class="entry-title"><a href="#"><%=article.title%></a></h4>
              <p><%=article.description%></p>
              <a class="readMore btn btn-border" href="06-post.html">Continue reading</a>
            </div>
          </article>
          <%end%>
          <!-- / blog-item -->
        </div>
        <!-- / blog-list -->
      </div>
    </div>
  </div>
</div>
<!-- / content -->


<!--  Parallax SUPPORT -->

<div data-type="kenburns" data-height="100" class="media-section">
  <div class="media-section-image-container">
    <img alt="demo image" src="assets/images/bg-red-parallax.jpg" class="singlefx">
  </div>

  <div class="inner">
    <div class="container">
      <div id="s_02" class="col-md-12 animated text-center" data-fx="bounceIn">
        <div class="content_center">
          <h2>Hello, we are MASTER! Need support or quote?</h2>
          <p>Call Us (+1) 234 567 89 please contact us for everything you need.</p>
          <a class="btn btn-border btn-lg white" href="http://themeforest.net/item/master-corporate-multipurpose-html-template/8942502?ref=createit-pl">Get Started Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/newsletter_footer'%>
