<%=@portfolio.title%><br>
<%= @portfolio.description%><br>
<%=@portfolio.project_url%>

<!-- header -->
<header class="height">
  <div data-image-mobile="assets/images/demo-content/03-portfolio-banner.jpg" data-image="assets/images/demo-content/03-portfolio-banner.jpg" data-type="parallax" data-height="500" data-stellar-background-ratio="0" class="media-section">
    <div class="display-table">
      <div class="inner">
        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">
            <li>
              <div class="container">
                <div class="text-left width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO OUR PORTFOLIO</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started
                    Now</a>
                </div>
              </div>
            </li>


            <li>
              <div class="container">
                <div class="text-left width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">WELCOME TO OUR PORTFOLIO</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>
                  <a href="#content" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started Now</a>
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- / header -->
<!--  section CONTENT -->
<div id="content" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%= image_tag 'demo-content/04-project-example-image.jpg'%>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2 class="content-tile"><%=@portfolio.title%></h2>
        <p class="weight300"><%=@portfolio.description%>
        </p>
        <br/>
        <p class="weight300">*Live Demo & Download links</p>
        <br/>
            <%= link_to 'View Porject', @portfolio.project_url,class:'btn btn-grey btn-lg'%>
      </div>
    </div>
  </div>
</div>
<!-- / section -->
<!--  section PORTFOLIO -->
<div id="s_03" class="content-area">
  <div class="container">
    <div class="row section-header">
      <div class="col-sm-12 col-md-9 table-cell">
        <h2>Related Projects</h2>
        <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br /> sed do eiusmod tempor incididunt ut labore.</p>
      </div>
      <div class="col-sm-12 col-md-3 text-right table-cell">
        <a class="btn btn-default uppercase">view all projects</a>
      </div>
    </div>
    <div id="galleryContainer" class="clearfix withSpaces col-3">
      <div class="galleryItem identity">
        <article class="portfolio-item">
          <div class="portfolio-thumbnail">
            <a href="#"><img draggable="false" src="assets/images/demo-content/02-home-portfolio-01.jpg" alt="" title=""></a>
            <a href="assets/images/demo-content/02-home-portfolio-01.jpg" data-type="image" title="Image Title Goes Here" class="magnificpopup overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
          </div>
          <h4 class="entry-title"><a href="#">Creative Pager</a></h4>
          <div class="entry-meta">
            <span class="cat-links"><a href="#">Apps</a>, <a href="#">Icons</a>, <a href="#">WordPress</a></span>
          </div>
        </article>
      </div>
      <div class="galleryItem identity">
        <article class="portfolio-item">
          <div class="portfolio-thumbnail">
            <a href="#"><img draggable="false" src="assets/images/demo-content/02-home-portfolio-02.jpg" alt="" title=""></a>
            <a href="assets/images/demo-content/02-home-portfolio-02.jpg" data-type="image" title="Image Title Goes Here" class="magnificpopup overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
          </div>
          <h4 class="entry-title"><a href="#">New World</a></h4>
          <div class="entry-meta">
            <span class="cat-links"><a href="#">Apps</a>, <a href="#">Icons</a>, <a href="#">WordPress</a></span>
          </div>
        </article>
      </div>
      <div class="galleryItem web">
        <article class="portfolio-item">
          <div class="portfolio-thumbnail">
            <a href="#"><img draggable="false" src="assets/images/demo-content/02-home-portfolio-03.jpg" alt="" title=""></a>
            <a href="assets/images/demo-content/02-home-portfolio-03.jpg" data-type="image" title="Image Title Goes Here" class="magnificpopup overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
          </div>
          <h4 class="entry-title"><a href="#">Social Boxes</a></h4>
          <div class="entry-meta">
            <span class="cat-links"><a href="#">Apps</a>, <a href="#">Icons</a>, <a href="#">WordPress</a></span>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
<!-- / section -->
<%= render 'shared/clients'%>
<%= render 'shared/prefooter'%>