<!--  Section Awesome Clients-->

<div class="media-section" data-height="220" data-type="video" data-fallback-image="assets/images/demo-content/00-home-multipurpose-banner.jpg">
  <div class="video">
    <!-- in order for video to be muted you must add  &amp;api=1&amp;player_id=vimeoplayer1 to the end of the video src
        If you have more than one video, make sure that player_id and id have dif names on each video
-->
    <video preload="auto" autoplay="autoplay" loop="" muted="" id="video1">
      <source type="video/mp4" src="assets/videos/loopbookeh.mp4">
    </video>
  </div>
  <div class="display-table">
  <div class="inner">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-3 table-cell">

          <div class="awesome">
            <h2>Our Awesome Clients</h2>
            <p class="summary">More than 5,000 customers trust us from around the world, and felt happy with our five stars services!</p>
            <br />
            <button class="btn btn-border white btn-lg">Get Started Now</button>
          </div>


        </div>
        <div class="col-sm-12 col-md-9 table-cell">

          <div class="centre">
            <ul class="row thumbnails list-unstyled text-center">
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo1.png'%>
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo2.png'%>
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo3.png'%>
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo4.png'%>
                </a>
              </li>
            </ul>
          </div>
          <div class="centre">
            <ul class="row thumbnails list-unstyled text-center">
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo5.png'%>
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo6.png'%>
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <%=image_tag 'demo-content/logos/home-v1-clients-logo7.png'%>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
