<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag 'logo-onepager.png',class:'navbar-brand'%>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active dropdown">
          <%=link_to 'Home', root_path%>
        </li>
        <li class="dropdown">
          <%=link_to 'About Us', about_path%>
        </li>
        <li class="dropdown">
          <%=link_to 'Blog', articles_path%>
        </li>
        <li class="dropdown" >
          <%=link_to 'Work', portfolios_path%>
        </li>
        <li>
          <%= link_to 'Contact us now', contact_path ,class:'btn btn-border active hidden-sm'%>
        </li>
      </ul>
    </div>
  </div>
</nav>
