<!-- section BUTTONS -->
<div class="dark-grey">

  <div class="container">
    <div class="row social-bar">

      <div class="col-xs-12 col-sm-6 col-md-3">

        <a href="#" class="socialBox facebook media">
                    <span class="pull-left table-cell">
                      <%=image_tag 'facebook.png'%>
                    </span>
                    <span class="media-body table-cell">
                       <span class="uppercase_text">
                            like us on facebook
                       </span>
                    </span>
                    <span class="socialBox-overlay">
                      <%=image_tag 'facebook.png'%>
                    </span>
        </a>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">

        <a href="#" class="socialBox twitterBox media">
                    <span class="pull-left table-cell">
                      <%=image_tag 'twitter.png'%>
                    </span>
                    <span class="media-body table-cell">
                       <span class="uppercase_text">
                            find us on twitter
                       </span>
                    </span>
                    <span class="socialBox-overlay">
                      <%=image_tag 'twitter.png'%>
                    </span>
        </a>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">

        <a href="#" class="socialBox dribble media">
                    <span class="pull-left table-cell">
                      <%=image_tag 'dribble.png'%>
                    </span>
                    <span class="media-body table-cell">
                       <span class="uppercase_text">
                           find us on dribble
                       </span>
                    </span>
                    <span class="socialBox-overlay">
                      <%=image_tag 'dribble.png'%>
                    </span>
        </a>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">

        <a href="#" class="socialBox cloud-song media">
                    <span class="pull-left table-cell">
                      <%=image_tag 'cloud-song.png'%>
                    </span>
                    <span class="media-body table-cell">
                       <span class="uppercase_text">
                            listen to sounds
                       </span>
                    </span>
                    <span class="socialBox-overlay">
                      <%=image_tag 'cloud-song.png'%>
                    </span>
        </a>

      </div>
    </div>
  </div>

</div>
<!-- / section -->


<!-- section PREFOOTER -->
<div id="prefooter" class="content-area">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4 animated" data-fx="fadeInDown">
        <div class="about-info">
          <h2 class="widget-title">About Master</h2>
          <p class="summary">
            Lorem Ipsum is simply dumy text of the printing and typing setting and industry Lorem Ipum has been the industry's standard dummy text un ever member since the 1500s.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 animated" data-fx="fadeInUp">
        <div class="twitter-stream">
          <h2 class="widget-title">Twitter Stream</h2>
          <div class="tweets_display" data-limit="1">

          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 animated" data-fx="fadeInDown">

        <div class="newsletterForm">

          <h2 class="widget-title">Subscribe to Our Newsletter!</h2>

          <div class="successMessage alert alert-success alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Thank You! E-mail was sent.
          </div>
          <div class="errorMessage alert alert-danger alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Ups! An error occured. Please try again later.
          </div>

          <p class="summary">Subscribe to our weekly newsletter to receive the latest freebies in your
            inbox!</p>

          <form class="liveForm form-inline validateIt" role="form" action="http://master.html.themeforest.createit.pl/assets/form/send.php" method="post"
                data-email-subject="Newsletter Form" data-show-errors="true" data-hide-form="true">

            <input type="submit" class="btn btn-click" value="Subscribe!">

            <div class="form-group">
              <i class="icon-paper-plane"></i>
              <input type="text" name="field[]" required class="form-control" placeholder="Your email address..">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>