  <!-- header -->
  <header class="height">
    <div data-image-mobile="<%=image_url '00-home-multipurpose-banner.jpg'%>"
         data-image="<%=image_url '00-home-multipurpose-banner.jpg'%>" data-type="parallax" data-height="600" data-stellar-background-ratio="0" class="media-section">
      <div class="display-table">
        <div class="inner">

          <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
            <ul class="slides">
              <li>
                <div class="container">
                  <div class="text-left width inner">
                    <h2 class="page-title animated" data-fx="fadeInDown">DESIGN JUST BLOWS MY MIND</h2>

                    <h3 class="animated" data-fx="bounceIn">
                      Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                      becoming like this is one of your goals, here are some general pointers.
                    </h3>
                    <a href="#iconbuttons" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started
                      Now</a>
                  </div>
                </div>
              </li>


              <li>
                <div class="container">
                  <div class="text-left width inner">
                    <h2 class="page-title animated" data-fx="fadeInDown">DESIGN JUST BLOWS MY MIND</h2>

                    <h3 class="animated" data-fx="bounceIn">
                      Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                      becoming like this is one of your goals, here are some general pointers.
                    </h3>
                    <a href="#iconbuttons" class="btn btn-default btn-lg animated local" data-fx="fadeInUp">Get Started Now</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>

          <a href="#iconbuttons" class="bigArrow local">
            <span>scroll down for more!</span>
            <i class="pe-7s-bottom-arrow"></i>
          </a>

        </div>
      </div>
    </div>
  </header>
  <!-- / header -->

  <!--  section icon box -->
  <div class="grey content-area" id="iconbuttons">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 animated" data-fx="fadeInUp">
          <div class="iconBox-center text-center">
            <a class="icon-thumbnail" href="#"><i class="pe-7s-tools"></i></a>
            <h4>Great Support</h4>
            <p>The edges may be directed or undirected. For example if the vertices represent people at a party</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 animated" data-fx="fadeInDown">
          <div class="iconBox-center text-center">
            <a class="icon-thumbnail" href="#"><i class="pe-7s-like"></i></a>
            <h4>Made lovely</h4>
            <p>The edges may be directed or undirected. For example if the vertices represent people at a party</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 animated" data-fx="fadeInUp">
          <div class="iconBox-center text-center">
            <a class="icon-thumbnail" href="#" ><i class="pe-7s-exapnd2"></i></a>
            <h4>Pixel Perfect</h4>
            <p>The edges may be directed or undirected. For example if the vertices represent people at a party</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6 animated" data-fx="fadeInDown">
          <div class="iconBox-center text-center">
            <a class="icon-thumbnail" href="#" ><i class="pe-7s-star"></i></a>
            <h4>High Quality</h4>
            <p>The edges may be directed or undirected. For example if the vertices represent people at a party</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- / section -->





  <!--  section PORTFOLIO -->
  <div id="s_03" class="content-area">

    <div class="container">

      <div class="row section-header">
        <div class="col-sm-12 col-md-9 table-cell">

          <h2>Our Portfolio</h2>

          <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br />
            sed do eiusmod tempor incididunt ut labore. </p>

        </div>
        <div class="col-sm-12 col-md-3 table-cell">
          <a href="03-portfolio.html" class="btn btn-default uppercase">go to portfolio</a>

        </div>
      </div>
    </div>

    <div class="container">


      <div id="galleryContainer" class="clearfix withSpaces col-3">

        <%@portfolios.each do |p|%>
        <div class="galleryItem">
          <article class="portfolio-item">
            <div class="portfolio-thumbnail">
              <a href="04-project-page.html"><%=image_tag 'demo-content/02-home-portfolio-01.jpg',draggable:'false'%></a>
              <a href="assets/images/demo-content/02-home-portfolio-02.jpg" data-type="image" title="Image Title Goes Here" class="magnificpopup overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
            </div>
            <h4 class="entry-title"><a href="04-project-page.html"><%=p.title%></a></h4>
            <div class="entry-meta">
              <span class="cat-links"><a href="04-project-page.html">Identity</a>, <a href="#">Web</a></span>
            </div>
          </article>
        </div>
        <%end%>
      </div>
    </div>
  </div>
  <!-- / section -->
  <%= render 'shared/clients'%>
  <!-- / section -->
    <!--  section SCREEN -->
  <div class="grey content-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 animated" data-fx="fadeInLeft">
          <div class="iconBox-center horizontal media">
            <a class="pull-left icon-thumbnail" href="#" ><i class="pe-7s-map-marker"></i></a>
            <div class="media-body">
              <h4 class="media-heading">Great and Fast Servies.</h4>
              <p>Lorem ipsum dolor sit amet, conset tetur labore et dolore.</p>
            </div>
          </div>

          <div class="iconBox-center media horizontal">
            <a class="pull-left icon-thumbnail" href="#" ><i class="pe-7s-light"></i></a>
            <div class="media-body">
              <h4 class="media-heading">High Quality Products.</h4>
              <p>Lorem ipsum dolor sit amet, conset tetur labore et dolore.</p>
            </div>
          </div>

          <div class="iconBox-center media horizontal">
            <a class="pull-left icon-thumbnail" href="#" ><i class="pe-7s-graph1"></i></a>
            <div class="media-body">
              <h4 class="media-heading">Five Stars Support.</h4>
              <p>Lorem ipsum dolor sit amet, conset tetur labore et dolore.</p>
            </div>
          </div>

          <div class="iconBox-center media horizontal">
            <a class="pull-left icon-thumbnail" href="#" ><i class="pe-7s-browser"></i></a>
            <div class="media-body">
              <h4 class="media-heading">Daily New Updates.</h4>
              <p>Lorem ipsum dolor sit amet, conset tetur labore et dolore.</p>
            </div>
          </div>


        </div>

        <div class="col-sm-6 col-md-8 animated" data-fx="fadeInRight">

          <div class="screen">
            <%=image_tag 'screen.png',class:'attachment-shop_catalog wp-post-image'%>
          </div>

        </div>


      </div>
    </div>
  </div>
  <!-- / section -->
  <!--  Parallax SUPPORT -->

  <div data-type="kenburns" data-height="100" class="media-section">
    <div class="media-section-image-container">
      <%image_tag 'bg-red-parallax.jpg',class:'singlefx'%>
    </div>

    <div class="inner">
      <div class="container">
        <div id="s_02" class="col-md-12 animated text-center" data-fx="bounceIn">
          <div class="content_center">
            <h2>Hello, we are MASTER! Need support or quote?</h2>
            <p>Call Us (+1) 234 567 89 please contact us for everything you need.</p>
            <a class="btn btn-border btn-lg white" href="http://themeforest.net/item/master-corporate-multipurpose-html-template/8942502?ref=createit-pl">Get Started Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- / Parallax -->
  <%= render 'teams/team'%>
  <!--  section BLOG -->
  <div id="s_01" class="content-area">
    <div class="container">
      <div class="row section-header">
        <div class="col-sm-12 col-md-9 table-cell">
          <h2> Our Blog</h2>
          <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br /> beiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="col-sm-12 col-md-3 table-cell">
          <a href="05-blog.html" class="btn btn-border uppercase">go to blog page</a>
        </div>
      </div>
      <div id="blog-list" class="clearfix withMasonry isotope">
        <%@articles.each do |article|%>
        <article class="blog-item item-smaller isotope-item">
          <div class="blog-thumbnail">
            <a href="06-post.html">
              <%= image_tag 'demo-content/02-home-blog-01.jpg'%>
            </a>
            <a href="06-post.html" class="overlay-img"><span class="overlay-ico"><i class="pe-7s-search"></i></span></a>
          </div>

          <div class="innerMargin">
            <h4 class="entry-title"><a href="06-post.html"><%=article.title%></a></h4>
            <p><%=article.description%></p>
            <a class="btn readMore btn-sm btn-border" href="06-post.html">Continue reading</a>
          </div>
        </article>
        <%end%>
      </div>

    </div>

  </div>
  <!-- / section -->
  <%= render 'shared/prefooter'%>
