<%= form_for @contact, url: contact_path   do  |f|%>
    <%= f.text_field :name, placeholder:'Name *'%>
    <br>
      <%= f.text_field :email, :required => true, placeholder:'Email Address *'%>
    <br>
    <%= f.text_field :phone, placeholder:'Phone Number'%>
    <br>
      <%= f.text_field :subject,:required => true, placeholder:'Subject *'%>
    <br>
      <%= f.text_area :message, :required => true, placeholder:'Message *'%>
    <br>
      <%= f.submit 'Submit'%>
<%end%>

<!-- header -->
<header class="height">


  <div data-image-mobile="assets/images/demo-content/12-contact-banner.jpg" data-image="assets/images/demo-content/12-contact-banner.jpg" data-type="parallax" data-height="400" data-stellar-background-ratio="0" class="media-section">

    <div class="display-table">
      <div class="inner">

        <div class="flexslider std-slider center-controls" data-height="" data-loop="true" data-smooth="false" data-slideshow="true" data-speed="15000" data-animspeed="550" data-controls="false" data-dircontrols="true">
          <ul class="slides">

            <li>
              <div class="container">
                <div class="text-left width inner">
                  <h2 class="page-title animated" data-fx="fadeInDown">CONTACT US NOW</h2>

                  <h3 class="animated" data-fx="bounceIn">
                    Featuring the best design on the web Best of Blog Corporate CSS Design<br/>
                    becoming like this is one of your goals, here are some general pointers.
                  </h3>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- / header -->




<!--  section CONTACT -->
<div class="content-area">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="mapOuter">

          <div class="googleMap" data-location="Pier 11, Wall St" data-height="600" data-offset="0"></div>

        </div>

        <dl>
          <dt>Here are some more information about us, you can get in touch with us any time you want.</dt>
          <dt><span>Address:</span></dt>
          <dd>New York City</dd>

          <dt><span>Email:</span></dt>
          <dd><a href="mailto:my@gmail.com">my@gmail.com</a></dd>

          <dt><span>Phone:</span></dt>
          <dd>+00951 985 427 81</dd>
        </dl>
      </div>

      <div class="col-md-6">
        <header class="section-header">
          <h2>Contact</h2>

          <p class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod from 9:00
            AM until 5:30 PM. </p>
        </header>

        <div class="successMessage alert alert-success alert-dismissable" style="display: none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Thank You! Form was sent.
        </div>
        <div class="errorMessage alert alert-danger alert-dismissable" style="display: none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Ups! An error occured. Please try again later.
        </div>

        <form class="contact-form validateIt" role="form" action="http://master.html.themeforest.createit.pl/assets/form/send.php" method="post"
              data-email-subject="Contact Form" data-show-errors="true" data-hide-form="true">

          <div class="form-group">
            <label class="control-label">Name <span>*</span></label>
            <input required="" name="field[]" class="form-control" type="text" placeholder="Your Name">
          </div>

          <div class="form-group">
            <label class="control-label">Email <span>*</span></label>
            <input type="email" class="form-control" name="field[]" required="" placeholder="Your Email">
          </div>

          <div class="form-group">
            <label class="control-label">Phone <span>*</span></label>
            <input type="text" class="form-control" name="field[]" placeholder="Your Phone">
          </div>

          <div class="form-group">
            <label class="control-label">Your Message  <span>*</span></label>
            <textarea rows="5" class="form-control" required="" name="field[]" placeholder="Your Message"></textarea>
          </div>

          <input type="submit" value="Send Mail" class="btn btn-lg btn-border">


        </form>
      </div>

    </div>
  </div>
</div>
<!-- / section -->




<!--  Parallax Awesome Clients-->

<div data-image-mobile="assets/images/bg-red-parallax.jpg" data-image="assets/images/bg-red-parallax.jpg" data-type="parallax" data-height="" data-stellar-background-ratio="0.5" class="media-section parallaxSection prlx_height">

  <!--  section Awesome Clients -->

  <div class="black ">
    <div class="container">
      <div class="row">

        <div class="col-sm-12 col-md-3 table-cell">

          <div class="awesome">
            <h2>Our Awesome Clients</h2>
            <p class="summary">More than 5,000 customers trust us from around the world, and felt happy with our five stars services!</p>
            <br />
            <button class="btn btn-border white btn-lg">Get Started Now</button>
          </div>


        </div>
        <div class="col-sm-12 col-md-9 table-cell">

          <div class="centre">
            <ul class="row thumbnails list-unstyled text-center">
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo1.png">
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo2.png">
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo3.png">
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo4.png">
                </a>
              </li>
            </ul>
          </div>
          <div class="centre">
            <ul class="row thumbnails list-unstyled text-center">
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo5.png">
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo6.png">
                </a>
              </li>
              <li class="col-xs-12 col-sm-6 col-md-3 animated" data-fx="bounceIn">
                <a href="#">
                  <img alt="" title="" src="assets/images/demo-content/logos/home-v1-clients-logo7.png">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- / section -->
</div>
<!-- / Parallax -->
<%= render 'shared/prefooter'%>